[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
[gpg]
	format = ssh
[difftool]
	cmd = code-insiders --wait --diff $LOCAL $REMOTE
[mergetool]
	cmd = code-insiders --wait $MERGED
[pull]
	ff = only
[rebase]
	autosquash = true
[user]
	name = Robert Zablit
	email = rzablit@gmail.com
	signingkey = ~/.ssh/id_ed25519.pub
